body {
	margin: 0px;
	background-color: #8c8c8c;
}

.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333333;
	overflow: hidden;
	position: sticky
	top: 0;
	border: 1px solid black;
	
}

li {
	float: left;
	font-size: 24px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none:
}

li a:hover {
	background-color: #4CAF50;
}

a {
	text-decoration: none;
}

.active {
	background-color: orange;
}

li {
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

.headImage {
	margin: 0;
	border: none;
	display: block;
	overflow: hidden;
}

#contacth1 {
	font-size: 36px;
	text-decoration: underline;
}

#contactable {
	font-size: 24px;
}

#sometext {
	display: flex;
	margin:20px;
}

#left {
	flex: 0 0 65%;
}

#abouth1 {
	font-size: 36px;
	text-decoration: underline;
}

#aboutParagraph {
	font-size: 24px;
}

#right {
	flex: 1;
}

#portrait {
	max-width:50%;
	max-height:50%;
}

#portrait1 {
	max-width:80%;
	max-height:80%;
}

#abouth2 {
	font-size: 30px;
	text-decoration: underline;
}

#left1 {
	flex: 0 0 50%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #333333;
}

#footer1 {
	color: white;
	text-align: right;
	font-size: 16px;
	margin-right: 20px;
}
	